.hero-carousel {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  .carousel-image-container {
    height: 100vh;
    .carousel-text {
      width: 100%;
      position: absolute;
      text-align: center;
      bottom: 6em;
      color: white;
      h1 {
        font-weight: 600;
        font-size: 3em;
        margin: 0px;
      }
      h2 {
        font-weight: 600;
        font-size: 1.5em;
      }
    }
  }
  img {
    object-fit: cover;
    height: 100%;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .carousel {
    .control-arrow {
      display: none;
    }
    .carousel-status {
      display: none;
    }
    .control-dots .dot {
      margin-bottom: 30px;
      height: 5px;
      width: 5px;
    }
  }
}