.shop-page-component {
  margin-bottom: 20px;
.copyright-text{
  margin-top: 50px;
  color: rgb(104,105,109);
  display: flex;
  justify-content: center;
  h5{
    cursor: pointer;
    font-size: 11px;
    margin-left: 4px;
    margin-right: 4px;
    display: inline ;
  }
}
}
