.vehicle-accessories {
  height: 100vh;
  margin-bottom: 0px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .vehicle-text {
    position: relative;
    bottom: 200px;
    h1 {
      color: white;
      margin: 0px;
    }
  }
}