.productsPage {
  // padding-top: 80px;
  padding: 3%;
}
.chargingWrapper {
  margin: auto;
  text-align: left;
  text-transform: capitalize;
  padding: 15px 0;
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 15px 0;
  }
}
.atHome {
  padding: 40px 0 50px;
}
