// .card-grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   row-gap: 65px;
// }
.cardWrapper {
  width: 400px;
  height: 450px;
}
.itemImgWrapper {
  height: 400px;
}
.itemImg {
  img {
    width: 100%;
    height: 100%;
  }
}
.itemImgOnHover {
  img {
    height: 320px;
    width: 100%;
  }
  p {
    height: 80px;
  }
}
.item {
  height: 52px;
  p {
  }
}
