.shop-page-component{
  height: 100vh;
  width: 100vw;

  .hero-carousel{
    // overflow: hidden;
    img {
      max-height: 100%;
      max-width: 100%;
      -khtml-user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}