.main-slide {
  padding-top: 30px;
  background-color: gray;
}
.carousel .slider-wrapper {
  width: 50%;
}

.carousel img {
  text-align: center;
}
.carousel h2 {
  text-align: center;
  font-size: 20px;
}
