.title h3 {
  font-size: 28px;
  font-family: "Gotham SSm";
  font-weight: 400;
  color: #393c41;
  width: 802px;
  height: 36px;
  margin: 0px 0px 32px;
  text-align: left;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px 24px;
}

.main-slide {
  padding-top: 30px;
  background-color: #fff;
}
.carousel .slider-wrapper {
  width: 50%;
}

.carousel img {
  text-align: center;
}
.carousel h2 {
  text-align: center;
  font-size: 20px;
}
