@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"),
    url(./assets/fonts/GothamSSm-Book_Web.woff2) format("woff2");
}

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"),
    url(./assets/fonts/GothamSSm-Bold_Web.woff2) format("woff2");
}

@font-face {
  font-family: "Gotham-Light";
  src: local("Gotham-Light"),
    url(./assets/fonts/GothamSSm-Light_Web.woff2) format("woff2");
}

@font-face {
  font-family: "Gotham-Medium";
  src: local("Gotham-Medium"),
    url(./assets/fonts/GothamSSm-Medium_Web.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gotham-Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
